:root {
  --font-archivo: 'Archivo';
  --font-holtwood: 'Holtwood One SC';
  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;

  --sea-blue-100: #0267ff;
  --sea-blue-500: #67a4ff;
  --sea-blue-900: #0252cc;

  --error-100: #ff0000;
  --error-500: #ff6666;
  --error-900: #cc0000;

  --success-100: #00e600;
  --success-700: #99f599;

  --gray-100: #fafafb;
  --gray-700: #a6a6ab;
  --gray-900: #d2d3d5;
  --gray-1000: #e9e9ea;

  --black-200: #1a1a2a;
  --black-300: #333441;
}

@import 'tailwindcss';

body {
  font-family: var(--font-archivo), 'sans-serif';
  font-weight: var(--fw-regular);
  box-sizing: border-box;
  color: var(--black-300);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.font-holtwood {
  font-family: var(--font-holtwood);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-200);
}
